<nav>
  <ul>
    <li routerLinkActive="active">
      <a routerLink="/data-bindings">Data Bindings</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/events">Events</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/event-subscribe">Event Subscribe</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/interpolations">Interpolations</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/manipulating-dom">Manipulating DOM</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/route-params', '1']">Route Params</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/redirecting">Redirecting</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/cruds">CRUDs</a>
    </li>
  </ul>
  <a routerLink="/" class='float-right'>Home</a>
</nav>
