<nav class="tabs-behavior">
  <ul>
    <li routerLinkActive="active">
      <a routerLink="/examples/events">Events</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/examples/manipulating-dom">Manipulating DOM</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/examples/route-params', '1']">Route Params</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/examples/cruds">CRUDs (by Template Driven)</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/examples/reactive-forms">CRUDs (by Data Driven)</a>
    </li>
  </ul>
</nav>
