<nav>
  <ul class='horizontal-menu'>
    <li routerLinkActive="active">
      <a routerLink="/data-bindings">Data Bindings</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/events">Events</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/manipulating-dom">Manipulating DOM</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/route-params', '1']">Route Params</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/cruds">CRUDs</a>
    </li>
  </ul>
  <ul class='float-right'>
    <li>
      <!-- checar se há alguém autenticado com a diretiva *ngIf para mostrar Login ou Logout -->
      <a routerLink="/login">Login</a>
    </li>
    <li>
      |
    </li>
    <li>
      <a routerLink="/">Home</a>
    </li>
  </ul>
</nav>
