<form #formReference="ngForm"
  (ngSubmit)="onSubmit(formReference)"
  (input)="onInput()"
  >
  <input
    #name="ngModel"
    name="name"
    placeholder="nome"
    [ngModel]="modelReference?.name"
    required />
    <!-- [messageMap]="...(talvez deva vir um array de mensagens do component)" -->
    <app-validation-message
    [showIf]="!valid('name', ['required'])"
    message="Não pode ficar em branco"
    ></app-validation-message>
  <div class="actions">
    <button type="submit">Salvar</button>
  </div>
</form>
