<form #formReference="ngForm"
  (ngSubmit)="onSubmit(formReference)"
  (input)="onInput()"
  >
  <!-- #name="ngModel" -->
  <input
    #name
    name="nam"
    placeholder="nome"
    [ngModel]="modelReference?.name"
    required />
    <app-validation-message
    [canShow]="!valid(name, ['required'])"
    [presetMessages]="{
      required: 'Não pode ficar em branco'
    }"
    [foundMessageKeys]="foundMessageKeysOf(name)"
    ></app-validation-message>
  <div class="actions">
    <button type="submit">Salvar</button>
  </div>
</form>
