<!-- view -->

<!-- two way data binding method -->
<!-- input property [(ngModel)]=... declared as @Input('optional alias') <property>: <type> = '<value>' in component -->
<input type="text" [(ngModel)]="inputString" placeholder="ngModel testing" >
<input type="text" [(ngModel)]="inputString" >
<p> {{ inputString }} </p>

<!-- [class.<class>]= true|false receives a class if variable returns true-->
<button
  (click)="alertMsg()"
  (mouseover) = "onMouseOverOut($event)"
  (mouseout) = "onMouseOverOut($event)"
  [class.highlighted]="mouseIsOver">Event Example</button>
