<!-- <app-interpolation></app-interpolation>
<app-data-binding></app-data-binding>
<app-directives></app-directives>
<app-manipulating-dom></app-manipulating-dom>
<app-safe-navigation></app-safe-navigation>
<app-ng-content-example>Mixed content.</app-ng-content-example>
<app-event-subscribe></app-event-subscribe>
<app-event></app-event> -->

<header>
  <app-horizontal-menu></app-horizontal-menu>

  <!-- <nav>
    <ul>
      <li routerLinkActive="active">
        <a routerLink="/data-bindings">Data Bindings</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/events">Events</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/route-params">Route Params</a>
      </li>
    </ul>
    <a [routerLink]="['/route-params', inputData.value]">link to test</a>
    <a routerLink="/" class='float-right'>Home</a>
  </nav> -->
</header>
<main>
  <!-- <input #inputData> -->
  <router-outlet></router-outlet>
</main>
<!-- <footer></footer> -->
