<!-- property binding shared by @Input decorator and event binding shared by @Output decorator both from a child component-->
<app-component-child [propertyBindingValue]=0 (customEvent)="onChangeValue($event)"></app-component-child>

<!-- [class.<class>]= true|false receives a class if variable returns true -->
<!-- (eventName)=method() event binding -->
<button
  (click)="alertMsg()"
  (mouseover)="onMouseOverOut($event)"
  (mouseout)="onMouseOverOut($event)"
  [class.highlighted]="mouseIsOver">Event Example</button>
