app-horizontal-menu:host

  nav

    &.horizontal
      border-bottom 1px solid

      ul

        > li
          padding padding 0

        li

          a
            padding padding 0
            text-decoration none

          ul
            &.sub-menu
              li
                border-top 1px solid
                padding padding 0

                ul
                  top 1px

                  li
                    &:nth-of-type(2)
                      &:hover
                        border-top transparent
