app-horizontal-menu:host

  nav

    &.horizontal

      ul

        > li
          padding-left 5px

        li
          background white

          a
            text-decoration none

          ul
            li
              border-top 1px solid
              padding padding 0
              padding 5px

              ul
                top 1px

                li
                  &:nth-of-type(2)
                    &:hover
                      border-top transparent

// Qualidade: na Polícia Militar é...
// Excelência na gestão: preocupação em, além de oferecer um trabalho de qualidade, oferecer qualidade de vida aos policiais militares.
