<nav class="horizontal">
  <ul>
    <li routerLinkActive="active">
      <a routerLink="examples/list">As List</a>
    </li>
    <li>|</li>
    <li>
      Over Control blablal
      <!-- ver a real necessidade de uma classe sub-item -->
      <ul>
        <li>
          <a routerLink="examples/over-control/reactive-form">As Reactive
            Form</a>
        </li>
        <li>
          <a routerLink="examples/over-control/template-driven">As Template
            Driven</a>
        </li>
        <li>
          Test com submenu de submenu
          <ul>
            <li></li>
            <li>Test 1</li>
            <li>Test 2</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>|</li>
    <li routerLinkActive="active">
      <a routerLink="examples/single-4-1-control-at-time">As Single For One
        Control at a time</a>
    </li>
  </ul>
</nav>

<!-- <nav class="horizontal">
  <ul>
    <li routerLinkActive="active">
      <a routerLink="examples/list">As List</a>
    </li>
    <li>|</li>
    <li>
      Over Control
      <ul>
        <li>
          <a routerLink="examples/over-control/reactive-form">As Reactive
            Form</a>
        </li>
        <li>
          <a routerLink="examples/over-control/template-driven">As Template
            Driven</a>
        </li>
        <li>
          Test com submenu de submenu
        </li>
        <ul>
          <li></li>
          <li>Test 1</li>
          <li>Test 2</li>
        </ul>
      </ul>
    </li>
    <li>|</li>
    <li routerLinkActive="active">
      <a routerLink="examples/single-4-1-control-at-time">As Single For One
        Control at a time</a>
    </li>
  </ul>
</nav> -->
