@import 'mixins.styl'


html
  body
    dl
      line-height: 25px

      dt
        font-weight: bold
        vertical-align: top

      dd
        text-overflow()

      dt, dd
        display: inline-block
