form

  input
    display inline-block
    width 100%

  label
    text-align center
    padding 0 15px

    span
      position relative
      display block
      top calc((100% - 21px) / 2)

  select

  button
    cursor pointer
