nav
  &.horizontal
    border-bottom 1px solid

    ul

      > li
        padding padding 0
        border-left 1px solid

      li

        &:first-of-type
          border-left initial

        &:hover
          border-left initial

        a
          padding padding 0
          text-decoration none

        ul
          &.sub-menu
            li
              border-top 1px solid
              border-left initial
              padding padding 0

              ul
                top 1px
                border-left 1px solid transparent

                li
                  &:nth-of-type(2)
                    &:hover
                      border-top-color transparent
