nav
  &.tabs-behavior
    ul
      list-style-type none
      display inline-block

      li
        display inline-block

        a
          display block
          text-decoration none
