nav
  ul
    list-style none

  &.tabs-behavior
    display inline-block

    li
      display inline-block

      a
        display block
        text-decoration none

  &.horizontal

    ul

      > li
        float left

        &.with-anchor
          padding initial !important

      li
        text-align center
        position relative
        margin-left: -1px

        &:hover
          cursor default

          // >: combina com somente o primeiro elemento na árvore do dom, isto é, não combina recursivamente
          // o ul não pode ter overflow-x pois suprimirá os uls filhos
          > ul
            display block !important
            // display inline-block !important

        a
          display block

        ul
          display none
          position absolute
          z-index 1

          li
            width 100%

            ul
              li
                &:first-of-type
                  background transparent !important
                  border-top transparent !important

                  &:hover
                    // para se haver efetividade caso haja um efeito no li ao se passar o mouse
                    background initial !important

                    > ul
                      display inline-block
